# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
xstdtsl_mutex_test_exe
xstdtsl_vector_test_exe
xstdtsl_binary_tree_test_exe
xstdtsl_avl_tree_test_exe
xstdtsl_rb_tree_test_exe
xstdtsl_map_test_exe

#Visual Studio
*.suo
*.db
*.opendb
*.ipch
*.pdb
*.idb
*.log
*.tlog
*ipdb
*pdb
*iobj
*.iobj
*ipch
*.exp
*.ilk
*.FileListAbsolute.txt

#Autotools, Libtool
.libs
Makefile
Makefile.in
*.m4
autom4te.cache
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
src/.deps
src/.dirstamp
*.pc
test-driver
*.trs
configure.scan
*.db-shm
*.db-wal

